<footer>
    <div class="container2">
        <div class="form-container">
            <form action="" method="post" class="form-wrapper2 row">
                <div class="footer-form-heading col-md-4 my-3">
                    <h1><b>Sign Up to our newsletter</b></h1>
                </div>
                <div class="form-floating col-md-4 email-form">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address:</label>
                </div>
                <div class="col-md-3 footer-submit-button">
                    <button type="submit" class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="row main-row">
            <div class="main-info col-md-5">
                <div class="row row1 mb-0">
                    <div class="image col-4">
                        <img src="icons/logo.svg" alt="logo">
                    </div>
                    <div class="heading-content col-md-8">
                        <h2>DR. ANAND SHAH'S</h2>
                        <h1>NEW AGE</h>
                            <h2><b>DENTAL CLINIC</b>
                        </h1>
                        <p>IMPLANT, AESTHETICS, LASER</p>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col-2">
                        <div class="icon">
                            <img src="icons/computer-line.svg" alt="phone">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="icon">
                            <img src="icons/instagram-fill.svg" alt="phone">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="icon">
                            <img src="icons/facebook-circle-fill.svg" alt="phone">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="icon">
                            <img src="icons/twitter-x-fill.svg" alt="phone">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="icon">
                            <img src="icons/youtube-fill.svg" alt="phone">
                        </div>
                    </div>
                </div>
                <div class="row row3">
                    <div class="col-5">
                        <button class="btn-about">About Us</button>
                    </div>
                    <div class="col-7">
                        <button class="btn-contact-footer">
                            <img src="icons/phoneblack.svg" alt="">
                            <a href="tel:+918169523831" style="text-decoration: none;">
                                <p style="margin: 0; color: black;">8169523831</p>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="line-column"
                style="width: 1px; height: 100%; background-color: white; margin: 70px 0 0 0; padding: 0 0 0 0;">

            </div>
            <div class="lorem-content col-md-3 my-auto " style="@media (max-width: 768px) {
                .lorem-content {
                    width: 90%;
                    margin: 20px auto;
                }
            }">
                <h2 class="text-light text-center">Open Hours</h2>
                <p class="text-light">
                    We are open every day to serve you better. Feel free to visit us during our working hours.
                </p>
                <div class="row">
                    <div class="col-6 ">
                        <h6 class="text-light days">Monday - Friday</h6>
                    </div>
                    <div class="col-6 time-col">
                        <h6 class="text-light time
                        ">9:00 AM - 8:30 PM</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-light">Saturday</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-light
                        ">9:00 AM - 8:30 PM</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-light">Sunday</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="text-light
                        ">10:00 AM - 1:00 PM</h6>
                    </div>
                </div>
            </div>
            <div class="line-column"
                style="width: 1px; height: 100%; background-color: white; margin: 70px 0 0 0; padding: 0 0 0 0;">

            </div>
            <div class="col-md-3 quick-links my-auto">
                <h3 class="text-center text-light">Quick Links</h3>
                <div class="quick-link-wrapper">
                    <div class="row quick-link-row" style="flex-wrap: nowrap;">
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='index.php'">
                                <div class="href-link">
                                    Home
                                </div>
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='faq.php'">
                                FAQ
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="row quick-link-row" style="flex-wrap: nowrap;">
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='about.php'">
                                About
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='services.php'">
                                Services
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="row quick-link-row" style="flex-wrap: nowrap;">
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='contactus.php'">
                                Contact
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='index.php'">
                                Terms
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="row quick-link-row" style="flex-wrap: nowrap;">
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='blog.php'">
                                Blogs
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="quick-link-btn" onclick="window.location.href='index.php'">
                                Policy
                                <div class="btn-arrow">
                                    <img src="icons/slant-arrow.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="big-line-row" style="margin: 0;">
            <div class="big-line"></div>
        </div>
        <div class="row">
            <h6 class="text-center text-light">@COPYRIGHT 2024 | All right are reserved to <a href="https://newagedentalclinic.com/"></a>
            </h6>
        </div>
</footer>