*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-herosection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-wrapper{
    display: flex;
    gap: 2rem;
}