*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    background-color: #e3e3e3;
    height: 100vh;
    padding: 12px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    min-height: 8vh;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 510px;
    gap: 40px;
}
nav ul a{
    text-decoration: none;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 500;
}
#active{
    color: #000;
}
.search-and-profile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile {
    display: flex;
    gap: 12px;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px;
}
.profile p{
    font-size: 16px;
    font-weight: 500;
}
.remaining-nav{
    display: flex;
    gap: 32px;
    align-items: center;    
}
.logo{
    width: 80px;
    height: 90px;
    overflow: visible;
    border-radius: 0 0 16px 16px;
    box-shadow: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
}